{% extends 'base.html' %}

{% block title %}
    Home
{% endblock  %}

{% block extrahead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inverse-kinematics.css') }}">
{% endblock  %}

{% block header %}
<h1> Inverse kinematics </h1>
{% endblock  %}

{% block content %}

<div class="dh-params">
    <form method="POST">
        <input type="hidden" name="form_id" value="dof_form">
    
        <label for="dof">Select DOF:</label>
        <input type="number" name="dof" id="dof" min="1" max="6" value={{selected_value}} onchange="this.form.submit()">
    </form>
    <h2> Denavit-Hartenberg parameters </h2>
    <table>
        <tr>
            <th> \(i\) </th>
            <th> \( a_i\)  </th>
            <th> \(\alpha_i\) </th>
            <th> \(d_i\) </th>
            <th> \(\theta_i\) </th>
        </tr>
        {% for i in range(robot_dof) %}
        <tr>
            {% if new_calc %}
                <td><label> \({{ i+1 }}\)  </label> </td>
                <td><input type="text" step="any" name="a_{{ i }}" id="a_{{ i }}" required></td>
                <td><input type="text" step="any" name="alpha_{{ i }}" id="alpha_{{ i }}" required></td>
                <td><input type="text" step="any" name="d_{{ i }}" id="d_{{ i }}" required></td>
                <td><input type="text" step="any" name="theta_{{ i }}" id="theta_{{ i }}" required></td>
            {% else %}
                <td><label> \({{ i }}\)  </label> </td>
                <td><input type="text" step="any" name="a_{{ i }}" value="{{dh_params[i][0]}}" id="a_{{ i }}" required></td>
                <td><input type="text" step="any" name="alpha_{{ i }}" value="{{dh_params[i][1]}}" id="alpha_{{ i }}" required></td>
                <td><input type="text" step="any" name="d_{{ i }}" value="{{dh_params[i][2]}}" id="d_{{ i }}" required></td>
                <td><input type="text" step="any" name="theta_{{ i }}" value="{{dh_params[i][3]}}" id="theta_{{ i }}" required></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

<div class="goal-pose">
    <h2>Desired position</h2>

    <form method="POST" id="compute_ik">
        <input type="hidden" name="form_id" value="compute_ik">
        <table>
            <tr>
                <td><label> \(P_x\)  </label> </td>
                <td><input type="text" step="any" name="Px" value="{{desired_position[0]}}" required></td>
            </tr>
            <tr>
                <td><label> \(P_y\)  </label> </td>
                <td><input type="text" step="any" name="Py" value="{{desired_position[1]}}" required></td>
            </tr>
            <tr>
                <td><label> \(P_z\)  </label> </td>
                <td><input type="text" step="any" name="Pz" value="{{desired_position[2]}}" required></td>
            </tr>
        </table>
        <button type="submit">Compute</button>
    </form>
</div>

<div class="results">
    <p> $$ {{ fk }} $$ </p>
</div>


<script>
    const robotDOF = {{ robot_dof }};
    const form = document.getElementById('compute_ik');

    form.addEventListener('submit', function (event) {
        // Por cada campo de los elementos externos, crea un campo oculto en el formulario
        for (let i = 0; i < robotDOF; i++) {
            let a = document.getElementById(`a_${i}`).value;
            let alpha = document.getElementById(`alpha_${i}`).value;
            let d = document.getElementById(`d_${i}`).value;
            let theta = document.getElementById(`theta_${i}`).value;

            // Agrega campos ocultos al formulario
            form.appendChild(createHiddenInput(`a_${i}`, a));
            form.appendChild(createHiddenInput(`alpha_${i}`, alpha));
            form.appendChild(createHiddenInput(`d_${i}`, d));
            form.appendChild(createHiddenInput(`theta_${i}`, theta));
        }

    });

    // Función para crear un campo oculto
    function createHiddenInput(name, value) {
        let hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = name;
        hiddenInput.value = value;
        return hiddenInput;
    }
</script>

{% endblock  %}
